[http]
	#proxy = http://proxy.example.com:8080
[https]
	#proxy = http://proxy.example.com:8080
[url "https://"]
	insteadOf = git://
[user]
	name = zipperr
	email = zipperr@i.softbank.jp
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = ~/.gitignore_global
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
[alias]
	st = status
	a = add
	aa = add -A
	cm = commit
	cmm = commit -m
	pu = push
	b = branch
	co = checkout
	cb = checkout -b
	sm = submodule
	di = diff
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
