[http]
    #proxy = http://proxy.example.com:8080
[https]
    #proxy = http://proxy.example.com:8080
[url "https://"]
    insteadOf = git://
[user]
    name = zipperr
    email = zipperr@i.softbank.jp
[core]
    editor = vim -c \"set fenc=utf-8\"
    excludesfile = ~/.gitignore_global
[color]
    ui = true
    diff = auto
    status = auto
    branch = auto
[alias]
    st  = status
    a   = add
    aa  = add .
    re  = reset HEAD
    cm  = commit
    cmm = commit -m
    pu  = push
    b   = branch
    fe  = fetch
    co  = checkout
    coo = checkout .
    cob = "!f(){ git checkout -b $1 origin/$1;};f"
    sm  = submodule
    di  = diff
    bl  = "!f(){ git blame $1;};f"
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
